{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>"Книжный Ковчег" — это онлайн-платформа для всех, кто любит читать, обсуждать и открывать для себя новые книги. 
    Мы создали этот сайт, чтобы объединить любителей литературы, предоставить доступ к качественным рецензиям, рекомендациям и обзорам,
    а также вдохновить на чтение. Здесь вы найдёте книги на любой вкус: от классики до современных бестселлеров, 
    от научной фантастики до поэзии.
</p>

{% endblock %}
